
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<h1 class="main-title">Aklny</h1>


  <div id="wrap">
    <form action="" autocomplete="on">
      
      <!-- <input type="text" name="input" class="input" [(ngModel)]="akla">
      <button type="reset" class="search" (click)="expand()"></button>
      <button class="btn btn-primary" (click)="onSearch()" >Dawrly</button> -->
      <input id="search" name="search" type="text"  [(ngModel)]="akla" placeholder="What're we looking for ?">
      <input id="search_submit" value="Rechercher" type="submit">
      <br/>
      <br/>
      <br/>
      
      <button class="btn btn-primary" (click)="onSearch()" >Dawrly</button>
      <!-- <p  *ngFor="let x of recipeDet" >{{x.name}} with a calorie of {{ x.calories }}</p> -->
      <div *ngFor="let x of recipeDet"  style="width: 38rem;">
          <div id="card-container">
              <div id="card-title">{{ x.name }}</div>
               <img id="recipe-image" src= "{{ x.image }}"  >
               <div id="details">Calories: <span class="detail-value">{{ x.calories }}</span> </div>
               <!-- <div id="details">Calories: <span class="detail-value">{{ x.calories }}</span> | Recipe Link: <span class="detail-value">href="{{ x.url }}"</span> </div> -->
              <div id="card-items">
                <span class="card-item-title">Ingredients</span>
                <ul class="checkmark">
                  <li>
                      {{ x.ingredient }}
                  </li>
                </ul>
              </div>
              
              <div id="method">
              <span class="card-item-title"><a href="{{ x.url }}" class="card-link">Recipe Link</a> </span>
              <button type="button" class="btn btn-outline-danger" (click)="onEmail()">Send url mail</button>
              <input id="email" name="email" type="email" class="form-control" [(ngModel)]="email" placeholder="Enter email"   >
              <!-- <a href="{{ x.url }}" class="card-link">Recipe Link</a> -->
              </div>
            </div>
        <!-- <img class="card-img-top" src= "{{ x.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ x.name }}</h5>
          <p  class="card-text">{{ x.ingredient }} </p>
        
          <p  class="card-text"> Calories: {{ x.calories }} </p>
        </div> -->
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul> -->
        <!-- <div class="card-body">
          <a href="{{ x.url }}" class="card-link">Recipe Link</a>
          <button type="button" class="btn btn-outline-danger">Send url mail</button>
        </div> -->
        
      </div>
      
    </form>
   
    
    

   
  
  
  

